[package]
name = "tower-sessions-libsql-store"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.77"
libsql = { git = "https://github.com/tursodatabase/libsql/" }
rmp-serde = "1.1.2"
thiserror = "1.0.57"
time = "0.3.34"
tower-sessions-core = { version = "0.10.2", features = ["deletion-task"] }

[dev-dependencies]
axum = "0.7.4"
serde = "1.0.196"
serde_json = "1.0.113"
tokio = { version = "1.36.0", features = ["full"] }
tokio-test = "0.4.3"
tower-sessions = "0.10.2"

# [[example]]
# name = "basic"
